.side-bar
  .user-name
    .top-items
      .name masa
      %ul.icons
        %li.icons_strong
          = icon('far', 'edit')
          = icon('fas', 'cog')
  .group-list
    .group 
      .group-name techcamp
      .group-message まだメッセージがありません
    .group
      .group-name techcamp
      .group-message まだメッセージがありません
  