.side-bar
  .user-name
    .top-items
      .name masa
      %ul.icons
        %li
          = link_to "#" do
            = icon('far', 'edit')
        %li
          = link_to "#" do
            = icon('fas', 'cog')
  .group-list
    .group 
      .group-name techcamp
      .group-message まだメッセージがありません
    .group
      .group-name techcamp
      .group-message まだメッセージがありません
  