.side-bar
  .user-name
    .top-items
      .name masa
      %ul.icons
        %li.icons_strong
          = icon('far', 'edit')
          = icon('fas', 'cog')
  .group-list
    .block1 techcamp
    .block2 まだメッセージがありません
    .block1 techcamp
    .block2 まだメッセージがありません
  